<div class="bulle">
    <form (submit)="onSubmit()">
        <h2>Modifier le compte : {{this.username}}</h2>
        <p class="erreur"  *ngIf="entrezQQC2">Entrez des données dans tous les champs</p>
        <p class="erreur"  *ngIf="userDejaExsiste">Username déja utilisé</p>
        <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" [(ngModel)]="username" required>
        <input type="password" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="password" required>
        <button type="submit">Modifier</button>
    </form>
</div>
